body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.TittleStyle{
  display: flex;
  height: 0px;
  
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.small-input {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 6px;
}

.button {
  width: 60px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}


.card {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 45px;
  width: 400px;
  height: 400px;
  text-align: left;
 
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.meaningContainerStyle{
  display: flex;
  flex-direction: column;
  width:auto; 
  height: auto;
  overflow-y:auto;
}
::-webkit-scrollbar{
  width: 10px;

}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 25px;
  
}

.LabelDefinition{
  width: 70px;
  height: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: transparent;
}


.Examples{
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
}
.def{
  margin-top: 10px;
  
}
.IpaStyle{
  height: 10px;
  font-style: italic;
}
.partsOfSpeechStyle{
font-style: italic;
}

