body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.dictionaryTitle{
  display: flex;
  align-items: center;
  text-align: right;
  margin-bottom: 0px;
  height: 5px;
  font-family: "STIX Two Text";
  margin-right:20px;
}

.TittleStyle{
  display: flex;
  height: 0px;
  
}

.top-bar {
  display: flex;
 background-color: black;
 width: 270px;
  height: 30px;
  margin-top: 0px;
  align-items: center;
  border-radius:20px;
}
.labelBar{
  
  color: white;
  opacity: 0.5;
}

.small-input {
  flex: 1;
  margin-left: 20px;
  width: 200px;
  height: 20px;
 border: none;
  outline:none;
  padding: 0px;
  background-color:transparent;
  color: white;
 
}

.button {
  width: 60px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}


.card {
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 45px;
  width: 400px;
  height: 400px;
  text-align: left;
 
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.meaningContainerStyle{
  display: flex;
  flex-direction: column;
  width:auto; 
  height: auto;
  overflow-y:auto;
}
::-webkit-scrollbar{
  width: 10px;

}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 25px;
  
}

.LabelDefinition{
  width: 80px;
  height: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: transparent;
}


.Examples{
  margin-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
  opacity: 0.8;
  
}
.def{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  
}
.IpaStyle{
  height: 10px;
  font-style: italic;
}
.partsOfSpeechStyle{
font-style: italic;

}

